.input {
  composes: border-shape from '@hokulea/foundation/structure/border';
  composes: action-focus from '@hokulea/foundation/intents/action';
  border-color: var(--color-layout-low-contrast);
}

.rim {
  composes: action-focus from '@hokulea/foundation/intents/action';
  border-color: var(--color-layout-low-contrast);

  & > input {
    border: 0;
    box-shadow: none !important;
  }
}
