@mixin --focus {
  &:focus-visible {
    outline: var(--control-focus-stroke);
    outline-offset: var(--control-focus-stroke-offset);
  }
}

@mixin --focus-within {
  &:focus-within {
    outline: none;
  }

  &:has(:focus-visible) {
    outline: var(--control-focus-stroke);
    outline-offset: var(--control-focus-stroke-offset);
  }
}
