.ghost-button {
  color: var(--color-action-text);

  > div {
    background-color: transparent;
    border-color: var(--color-action-border);
  }

  &:focus {
    /* TODO: Focus color ! */
    border-color: var(--color-action-text);
  }

  &:hover {
    color: var(--color-action-hover-text);

    & > div {
      background-color: var(--color-action-hover-background);
      border-color: var(--color-action-hover-border);
    }

    &:focus {
      border-color: var(--color-action-hover-border);
    }
  }

  &:active {
    color: var(--color-action-active-text);

    & > div {
      background-color: var(--color-action-active-background);
      border-color: var(--color-action-active-border);
    }

    &:focus {
      border-color: var(--color-action-active-border);
    }
  }

  &:disabled {
    color: var(--color-action-disabled-text);

    & > div {
      background-color: var(--color-action-disabled-background);
      border-color: var(--color-action-disabled-border);
    }
  }
}
