.ghost-button {
  composes: action-focus from '@hokulea/foundation/utils/focus';
  color: var(--color-action-base-text);
  background-color: transparent;
  border-color: var(--color-action-base-text);

  &:hover {
    color: var(--color-action-hover-text);
    background-color: var(--color-action-hover-background);
    border-color: var(--color-action-hover-border);
  }

  &:active {
    color: var(--color-action-active-text);
    background-color: var(--color-action-active-background);
    border-color: var(--color-action-active-border);
  }

  &:disabled {
    color: var(--color-action-disabled-text);
    background-color: var(--color-action-disabled-background);
    border-color: var(--color-action-disabled-border);
  }
}
