.box {
  align-items: center;
  background-color: var(--layout-low-contrast-color);
  border-color: var(--structure-border-color);
  border-style: var(--structure-border-style);
  border-width: var(--structure-border-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--s-2);
}

.demo {
  align-self: stretch;
  background-color: var(--text-normal-color);
  width: var(--value);
}

.content {
  composes: flow from "@hokulea/core/layouts.css";

  --flow-space: var(--s-5);
}

.value {
  composes: value from "../props";
}

.description {
  composes: description from "../props";
  grid-column: 1 / span 2;
}
