.card {
  composes: action-focus from '@hokulea/foundation/intents/action';

  border-width: 1px;
  border-color: var(--color-layout-low-contrast);
  background-color: var(--color-layout-background);
}

.item {
  padding: var(--s0);
}
