@value border-style from '@hokulea/foundation/structure/border';

.card {
  composes: action-focus from '@hokulea/foundation/intents/action';

  border-width: 1px;
  border-color: var(--color-layout-low-contrast);
  background-color: var(--color-layout-background);
}

.item {
  padding: var(--s0);
}

.content {
  composes: item;
}

.footer {
  composes: item;

  border-width: 0;
  border-block-start-width: 1px;
  border-style: border-style;
  border-color: var(--color-layout-low-contrast);
}

.header {
  composes: item;

  border-width: 0;
  border-block-end-width: 1px;
  border-style: border-style;
  border-color: var(--color-layout-low-contrast);
}
