.card {
  composes: action-focus from '@hokulea/foundation/intents/action';

  border-color: var(--color-layout-high-contrast);
  background-color: var(--color-layout-low-contrast);
  padding: var(--s0);
}
