.layout {
  --center-max-width: var(--measure);

  box-sizing: content-box;
  margin-inline: auto auto;
  max-width: var(--center-max-width);
}

.toc {
  /* position: fixed;
  margin-left: 35rem;
  padding-left: var(--s1); */

  & > a {
    display: block;
    margin-bottom: var(--s-1);
    margin-left: calc(var(--s0) * -1);
    text-decoration: none;
  }

  margin-top: var(--s1);
}

.level-1 {
  display: none !important;
}

.level-2 {
  /* color: var(--heading-color); */
  padding-left: var(--s1);
}

.level-3 {
  font-size: var(--s0);
  padding-left: var(--s2);
}

.level-4 {
  font-size: var(--s0);
  padding-left: var(--s3);
}

.level-5 {
  font-size: var(--s0);
  padding-left: var(--s4);
}

@media (width >= calc(65ch * 2)) {
  .level-1 {
    display: block !important;
  }

  .toc {
    margin-left: calc(var(--measure) + var(--s1));
    position: fixed;
    top: 0;
  }
}
