.name {
  display: flex;
  flex-direction: column;
  font-size: var(--s0);
  font-weight: 450;

  span {
    display: flex;
    gap: var(--ls-4);
    align-items: center;
  }
}

.list {
  --flow-space: var(--s0);

  composes: flow from "@hokulea/core/layouts.css";
  margin-block-start: var(--s0);
}
