.spec {
  display: flex;
  flex-direction: column;
  gap: var(--s-4);

  padding: var(--spacing-container0);
  border: var(--shape-stroke);
  border-radius: var(--shape-radius-container);

  background-color: var(--surface-container1);

  p {
    font-weight: 500;
  }

  span {
    display: flex;
    gap: var(--ls-4);
    align-items: center;
  }
}
