.spec {
  padding: var(--s0);
  border: var(--structure-border-color) var(--structure-border-style)
    var(--structure-border-width);
  border-radius: var(--structure-border-radius);
  background-color: var(--layout-low-contrast-color);

  composes: flow from "@hokulea/layouts/flow";
  --flow-space: var(--s-5);

  p {
    font-weight: 500;
  }

  span {
    display: flex;
    align-items: center;
    gap: var(--ls-5);
  }
}
