.adjacent-button {
  composes: adjacent-focus from '@hokulea/foundation/intents/adjacent';
  color: var(--color-intent-adjacent-base-text);
  background-color: var(--color-intent-adjacent-base-background);
  border-color: var(--color-intent-adjacent-base-border);

  &:hover {
    color: var(--color-intent-adjacent-hover-text);
    background-color: var(--color-intent-adjacent-hover-background);
    border-color: var(--color-intent-adjacent-hover-border);
  }

  &:active {
    color: var(--color-intent-adjacent-active-text);
    background-color: var(--color-intent-adjacent-active-background);
    border-color: var(--color-intent-adjacent-active-border);
  }

  &:disabled {
    color: var(--color-intent-adjacent-disabled-text);
    background-color: var(--color-intent-adjacent-disabled-background);
    border-color: var(--color-intent-adjacent-disabled-border);
  }
}
