<h2>Normal</h2>
<Center>
  <div>This is centered</div>
</Center>

<h2>@intrinsic=true</h2>

<Center class="center-intrinsic">
  <div>aha</div>
  <Box>
    a padded Box :scream:
  </Box>
</Center>

<h2>@text=true</h2>

<Center class="center-text">
  <p>Hello, I should be centered</p>
  <Box>
    a padded Box :scream:
  </Box>
</Center>