.stack {
  --stack-space: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block-start: 0;
  margin-block-end: 0;
}

.stack > * + * {
  margin-block-start: var(--stack-space);
}

.stack-recursive * {
  margin-block-start: 0;
  margin-block-end: 0;
}

.stack-recursive * + * {
  margin-block-start: var(--stack-space);
}

/* Pushing an element to the bottom */
.stack:only-child {
  height: 100%;
}

.stack-end {
  margin-block-end: auto;
}
