<ThemeSwitcher />

<h2 id="title">Welcome to Ember</h2>

<Center>
  <Stack>
    <Cluster>
      <Button>Button</Button>

      <Button as |b|>
        <b.Prefix>Vorne</b.Prefix>
        <b.Affix>und so ?</b.Affix>
        <b.Content>Button</b.Content>
        <b.Affix>mit ohne border</b.Affix>
        <b.Suffix>Hinne</b.Suffix>
      </Button>

      <Button disabled=true>Button</Button>
    </Cluster>

    <Cluster>
      <GhostButton>Button</GhostButton>

      <GhostButton as |b|>
        <b.Prefix>Vorne</b.Prefix>
        <b.Affix>und so ?</b.Affix>
        <b.Content>Button</b.Content>
        <b.Affix>mit ohne border</b.Affix>
        <b.Suffix>Hinne</b.Suffix>
      </GhostButton>

      <GhostButton disabled=true>Button</GhostButton>
    </Cluster>
  </Stack>
</Center>

{{outlet}}