<h2 id="title">Welcome to Ember</h2>

<div role="listbox" {{listbox}}>
  <p role="option" aria-selected="false">Apple</p>
  <p role="option" aria-selected="false">Pineapple</p>
  <p role="option" aria-selected="false">Banana</p>
</div>

{{outlet}}