<h1>Menu</h1>

<div role="menu" id="refactormenu" popover {{menu}}>
  <button type="button" role="menuitem">Format Document</button>
  <button type="button" role="menuitem">Refactor...</button>
  <button type="button" role="menuitem">Source Action...</button>
  <hr />
  <button type="button" role="menuitem" popovertarget="sharemenu">Share</button>
  <div role="menu" id="sharemenu" popover {{menu}}>
    <button type="button" role="menuitem">Code</button>
    <button type="button" role="menuitem" popovertarget="socialmenu">Social</button>
    <div role="menu" id="socialmenu" popover {{menu}}>
      <button type="button" role="menuitem">Twitter</button>
      <button type="button" role="menuitem">Mastodon</button>
      <button type="button" role="menuitem">Bsky</button>
    </div>
  </div>
  <hr />
  <button type="button" role="menuitem">Cut</button>
  <button type="button" role="menuitem">Copy</button>
  <button type="button" role="menuitem">Paste</button>
</div>