@component hokulea.buttons.button;

.button {
  color: cfg("typo");

  > span {
    background-color: cfg("background");
    border-color: cfg();
  }

  &:focus {
    border-color: cfg("focus");
  }

  &:hover {
    @component hover;
    color: cfg("typo");

    & > span {
      background-color: cfg("background");
      border-color: cfg();
    }

    &:focus {
      border-color: cfg("focus");
    }
  }

  &:active {
    @component active;
    color: cfg("typo");

    & > span {
      background-color: cfg("background");
      border-color: cfg();
    }

    &:focus {
      border-color: cfg("focus");
    }
  }

  &:disabled {
    @component disabled;
    color: cfg("typo");

    & > span {
      background-color: cfg("background");
      border-color: cfg();
    }
  }
}
