@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: oblique 0deg 10deg;
  font-weight: 100 900;
  src: url("/Inter.var.woff2?3.13") format("woff2-variations");
}

@font-face {
  font-display: block;
  font-family: "Inter Display";
  font-style: oblique 0deg 10deg;
  font-weight: 100 900;
  src: url("/InterDisplay.var.woff2?3.13") format("woff2-variations");
}

:root {
  --typo-prose-family: "Inter", system-ui, sans-serif;
  --typo-prose-feature-settings: "case" 1, "frac" 1, "ss03" 1, "cv05" 1, "cv07",
    "kern" 1;
  --typo-heading-feature-settings: "liga" 1, "calt" 1, "cv05" 1, "kern" 1;
  --typo-heading-tracking: -0.018em;
  --typo-heading-weight: 350;
  --typo-display-family: "Inter Display", system-ui, sans-serif;
  --typo-display-feature-settings: "liga" 1, "calt" 1, "salt" 1, "kern" 1;
  --typo-display-weight: 300;
  --typo-display-tracking: -0.003em;
}

h4 {
  --typo-heading-weight: 450;
}

a,
a:link a:visited {
  color: var(--intent-action-plain-base-text-color);
  text-decoration: underline;
}

a:hover {
  color: var(--intent-action-plain-hover-text-color);
}

em {
  color: var(--intent-alternative-plain-base-text-color);
}

code {
  background: var(--layout-low-contrast-color);
  border-radius: 4px;
  color: var(--intent-alternative-plain-base-text-color);
  display: inline;
  padding: 0.22em;
}

pre > code:global(.hljs) {
  display: block;
  padding: 0.5em;
}

h3,
h4 {
  --typo-heading-weight: 500;
}

dt {
  font-weight: 600;
  margin-block-end: var(--s-4);
}

dd {
  padding-inline-start: var(--s0);
}

dd + dt {
  margin-block-start: var(--s0);
}

th {
  text-align: left;
}

tr > td:not(:last-child) {
  padding-inline-end: var(--ls-1);
}
