<span class={{this.styles.boundary}}>
  <input type="checkbox" checked={{@value}} class={{this.styles.input}} ...attributes />

  <svg
    width="16"
    height="16"
    viewBox="0 0 16 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    local-class="svg"
  >
    <circle class={{this.styles.symbol}} cx="8" cy="8" r="4"></circle>
  </svg>
</span>