<div ...attributes {{this.setup this.update}}>
  Viewport Width:
  <code>{{this.viewportWidth}}px</code>
  Font Size:
  <code>{{this.fontSize}}</code>
</div>

<TokenList>
  <Token::Dimension @name="--s-4" />
  <Token::Dimension @name="--s-3" />
  <Token::Dimension @name="--s-2" />
  <Token::Dimension @name="--s-1" />
  <Token::Dimension @name="--s0" />
  <Token::Dimension @name="--s1" />
  <Token::Dimension @name="--s2" />
  <Token::Dimension @name="--s3" />
  <Token::Dimension @name="--s4" />
</TokenList>