.card {
  composes: action-focus from "@hokulea/foundation/intents/action";

  border-width: var(--structure-border-width);
  border-color: var(--structure-border-color);
  background-color: var(--layout-background-color);
}

.item {
  padding: var(--s0);
}
