.input {
  composes: input from "./input-builder.css";

  /* composes: padding-primitive from "@hokulea/foundation/structure/padding"; */
  font-feature-settings: "tnum" 1;
  font-variant-numeric: tabular-nums;
}
