.center {
  --center-max-width: var(--measure);
  box-sizing: content-box;
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: var(--center-max-width);
}

.center-intrinsic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-text {
  text-align: center;
}
