@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
  font-display: swap;
  src: url("/Inter.var.woff2?3.13") format("woff2-variations");
}

@font-face {
  font-family: 'Inter Display';
  font-style: oblique 0deg 10deg;
  font-weight: 100 900;
  font-display: block;
  src: url('/InterDisplay.var.woff2?3.13') format("woff2-variations");
}

:root {
  --typo-prosa-family: 'Inter', system-ui, sans-serif;
  --typo-prosa-feature-settings: 'case' 1, 'frac' 1, 'ss03' 1, 'cv05' 1, 'cv07', 'kern' 1;

  --typo-heading-feature-settings: 'liga' 1, 'calt' 1, 'cv05' 1, 'kern' 1;
  --typo-heading-tracking: -0.018em;
  --typo-heading-weight: 350;

  --typo-display-family: 'Inter Display', system-ui, sans-serif;
  --typo-display-feature-settings: 'liga' 1, 'calt' 1, 'salt' 1, 'kern' 1;
  --typo-display-weight: 300;
  --typo-display-tracking: -0.003em;
}

h4 {
  --typo-heading-weight: 450;
}

a, a:link a:visited {
  color: var(--color-action-emphasize);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
