.box {
  border-color: var(--structure-border-color);
  border-width: var(--structure-border-width);
  border-style: var(--structure-border-style);
  padding: var(--s-2);
  background-color: var(--layout-low-contrast-color);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--s-1);
  overflow: hidden;
}

.demo {
  background-color: var(--value);
  width: var(--s4);
  aspect-ratio: 1;
}

.content {
  composes: flow from "@hokulea/layouts/flow.css";
  --flow-space: var(--s-5);
}

.value {
  composes: value from "../props";
  font-size: var(--s-1);
  margin-inline-start: auto;
}

.description {
  composes: description from "../props";
}
