.boundary {
  position: relative;
}

.input {
  appearance: none;
  background: none;
  opacity: 0.00001;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;

  & + .svg {
    border-style: var(--structure-border-style);
    border-radius: var(--structure-border-radius);
    border-width: var(--structure-border-width);

    border-color: var(--color-intent-action-fill-base-border);
    background-color: var(--color-layout-background);
    height: 1em;
    width: 1em;
    transform: translateY(0.155em);
  }

  &:hover + .svg {
    border-color: var(--color-intent-action-fill-hover-border);
  }

  &:active + .svg {
    border-color: var(--color-intent-action-fill-active-border);
  }

  &:focus + .svg {
    box-shadow: var(--shadow-intent-action-fill-focus);
  }

  &:disabled + .svg {
    border-color: var(--color-intent-action-fill-disabled-border);
  }
}

.input:checked {
  & + .svg {
    border-color: var(--color-intent-action-fill-base-border);
    background-color: var(--color-intent-action-fill-base-background);

    & > .symbol {
      stroke: var(--color-intent-action-fill-base-text);
    }
  }

  &:hover + .svg {
    border-color: var(--color-intent-action-fill-hover-border);
    background-color: var(--color-intent-action-fill-hover-background);

    & > .symbol {
      stroke: var(--color-intent-action-fill-hover-text);
    }
  }

  &:focus + .svg {
    box-shadow: var(--shadow-intent-action-fill-focus);
  }

  &:active + .svg {
    border-color: var(--color-intent-action-fill-active-border);
    background-color: var(--color-intent-action-fill-active-background);

    & > .symbol {
      stroke: var(--color-intent-action-fill-active-text);
    }
  }

  &:disabled + .svg {
    border-color: var(--color-intent-action-fill-disabled-border);
    background-color: var(--color-layout-background);

    & > .symbol {
      stroke: var(--color-intent-action-fill-disabled-text);
    }
  }
}
