.boundary {
  position: relative;
}

.input {
  appearance: none;
  background: none;
  opacity: 0.00001;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;

  & + .svg {
    border-style: var(--structure-border-style);
    border-radius: var(--structure-border-radius);
    border-width: var(--structure-border-width);

    border-color: var(--intent-action-fill-base-border-color);
    background-color: var(--layout-background-color);
    height: 1em;
    width: 1em;
    transform: translateY(0.155em);
  }

  &:hover + .svg {
    border-color: var(--intent-action-fill-hover-border-color);
  }

  &:active + .svg {
    border-color: var(--intent-action-fill-active-border-color);
  }

  &:focus + .svg {
    box-shadow: var(--shadow-intent-action-fill-focus);
  }

  &:disabled + .svg {
    border-color: var(--intent-action-fill-disabled-border-color);
  }
}

.input:checked {
  & + .svg {
    border-color: var(--intent-action-fill-base-border-color);
    background-color: var(--intent-action-fill-base-background-color);

    & > .symbol {
      stroke: var(--intent-action-fill-base-text-color);
    }
  }

  &:hover + .svg {
    border-color: var(--intent-action-fill-hover-border-color);
    background-color: var(--intent-action-fill-hover-background-color);

    & > .symbol {
      stroke: var(--intent-action-fill-hover-text-color);
    }
  }

  &:focus + .svg {
    box-shadow: var(--shadow-intent-action-fill-focus);
  }

  &:active + .svg {
    border-color: var(--intent-action-fill-active-border-color);
    background-color: var(--intent-action-fill-active-background-color);

    & > .symbol {
      stroke: var(--intent-action-fill-active-text-color);
    }
  }

  &:disabled + .svg {
    border-color: var(--intent-action-fill-disabled-border-color);
    background-color: var(--layout-background-color);

    & > .symbol {
      stroke: var(--intent-action-fill-disabled-text-color);
    }
  }
}
