.highlight-reduced-button {
  composes: highlight-focus from "@hokulea/foundation/intents/highlight";
  color: var(--color-intent-highlight-reduced-base-text);
  background-color: var(--color-intent-highlight-reduced-base-background);
  border-color: var(--color-intent-highlight-reduced-base-border);

  &:hover {
    color: var(--color-intent-highlight-reduced-hover-text);
    background-color: var(--color-intent-highlight-reduced-hover-background);
    border-color: var(--color-intent-highlight-reduced-hover-border);
  }

  &:active {
    color: var(--color-intent-highlight-reduced-active-text);
    background-color: var(--color-intent-highlight-reduced-active-background);
    border-color: var(--color-intent-highlight-reduced-active-border);
  }

  &:disabled {
    color: var(--color-intent-highlight-reduced-disabled-text);
    background-color: var(--color-intent-highlight-reduced-disabled-background);
    border-color: var(--color-intent-highlight-reduced-disabled-border);
  }
}
