.input {
  composes: border-shape from '@hokulea/foundation/structure/border';
  composes: padding-block from '@hokulea/foundation/structure/padding';
  composes: action-focus from '@hokulea/foundation/intents/action';
}
