.list {
  /* all: unset; */

  user-select: none;

  position: relative; /* so items have the list as `offsetParent` */

  overflow: auto;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;

  padding-block: var(--spacing-container-3);
  border: var(--control-border);
  border-radius: var(--shape-radius-primitive);

  background-color: var(--control-background);

  [role="option"] {
    display: inline-flex;
    gap: var(--spacing-primitive-3);

    padding-block: var(--spacing-primitive-4);
    padding-inline: var(--spacing-primitive-3);

    color: var(--control-text);

    &[aria-selected="true"] {
      background-color: var(--control-selected-background);
    }
  }

  &:focus {
    [role="option"] {
      &[aria-selected="true"] {
        background-color: var(--control-focus-selected-background);
      }

      &[aria-disabled="disabled"] {
        color: var(--control-disabled-text);
      }
    }
  }

  :not(&[aria-disabled="true"])[aria-multiselectable="true"]:focus {
    [role="option"][aria-current="true"] {
      outline: var(--control-focus-stroke);
      outline-offset: calc(var(--control-focus-stroke-width) * -1);
    }
  }

  :not(&[aria-disabled="true"]):is(&:focus, &) [role="option"]:hover {
    background-color: var(--control-hover-background);
  }

  &[aria-disabled="true"] {
    color: var(--control-disabled-text);
    background-color: var(--control-disabled-background);
  }
}
