.menu:is(:not([popover]),[popover]:popover-open) {
  /* all: unset; */

  user-select: none;

  display: flex;
  flex-direction: column;

  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  width: fit-content;
  padding: var(--spacing-container-3);
  border: var(--control-border);
  border-radius: var(--shape-radius-container);

  background-color: var(--surface-popover);

  &:popover-open {
    translate: 0 calc(var(--spacing-container-3) * -1 - var(--control-border-width));
  }

  > hr {
    height: 1px;
    margin-block: calc(var(--spacing-container-3) / 2);
    margin-inline: calc(var(--spacing-container-3) * -1);

    opacity: 0.4;
    background-color: var(--control-border-color);
  }

  [role="menuitem"] {
    all: unset;

    cursor: default;

    display: inline-flex;
    gap: var(--spacing-primitive-3);
    justify-content: space-between;

    padding-block: var(--spacing-primitive-4);
    padding-inline: var(--spacing-primitive-3);
    border-radius: calc(var(--shape-radius-container) - var(--spacing-container-3) / 2);

    color: var(--control-text);

    &[aria-disabled="disabled"] {
      color: var(--control-disabled-text);
    }

    &:focus {
      background-color: var(--control-hover-background);
      outline: none;
    }

    &[aria-haspopup]::after {
      --chevron-right: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path></svg>');

      content: '';

      display: block;
      align-self: center;

      width: 1rem;
      height: 1rem;

      background: currentcolor;

      mask: var(--chevron-right) center center / 100% auto no-repeat;
    }
  }

  &[aria-disabled="true"] {
    color: var(--control-disabled-text);
    background-color: var(--control-disabled-background);
  }
}
