<div local-class="sidebar" ...attributes>
  <div {{style
      --sidebarMin=(if @min @min "")
      --sidebarSpace=(if @space @space "")
    }}>
    {{yield (hash
      Side=(component "sidebar-layout/side")
      Content=(component "sidebar-layout/content")
    )}}
  </div>
</div>