<h2>Normal</h2>
<Cluster>
  <Box>Tag 1</Box>
  <Box>Tag 2</Box>
  <Box>Tag 3</Box>
</Cluster>

<h2>justify center</h2>

<Cluster @justify="center">
  <Box>Tag 1</Box>
  <Box>Tag 2</Box>
  <Box>Tag 3</Box>
</Cluster>

<h2>Navbar example</h2>

<Cluster @justify="space-between">
  <p>BRAND</p>
  <Cluster>
    <Box>Idea</Box>
    <Box>Pricing</Box>
    <Box>About</Box>
  </Cluster>
</Cluster>