.alternative-button {
  composes: alternative-focus from "@hokulea/foundation/intents/alternative";
  color: var(--color-intent-alternative-fill-base-text);
  background-color: var(--color-intent-alternative-fill-base-background);
  border-color: var(--color-intent-alternative-fill-base-border);

  &:hover {
    color: var(--color-intent-alternative-fill-hover-text);
    background-color: var(--color-intent-alternative-fill-hover-background);
    border-color: var(--color-intent-alternative-fill-hover-border);
  }

  &:active {
    color: var(--color-intent-alternative-fill-active-text);
    background-color: var(--color-intent-alternative-fill-active-background);
    border-color: var(--color-intent-alternative-fill-active-border);
  }

  &:disabled {
    color: var(--color-intent-alternative-fill-disabled-text);
    background-color: var(--color-intent-alternative-fill-disabled-background);
    border-color: var(--color-intent-alternative-fill-disabled-border);
  }
}
