.alternative-reduced-button {
  composes: alternative-focus from "@hokulea/foundation/intents/alternative";
  color: var(--color-intent-alternative-reduced-base-text);
  background-color: var(--color-intent-alternative-reduced-base-background);
  border-color: var(--color-intent-alternative-reduced-base-border);

  &:hover {
    color: var(--color-intent-alternative-reduced-hover-text);
    background-color: var(--color-intent-alternative-reduced-hover-background);
    border-color: var(--color-intent-alternative-reduced-hover-border);
  }

  &:active {
    color: var(--color-intent-alternative-reduced-active-text);
    background-color: var(--color-intent-alternative-reduced-active-background);
    border-color: var(--color-intent-alternative-reduced-active-border);
  }

  &:disabled {
    color: var(--color-intent-alternative-reduced-disabled-text);
    background-color: var(
      --color-intent-alternative-reduced-disabled-background
    );
    border-color: var(--color-intent-alternative-reduced-disabled-border);
  }
}
