.highlight-plain-button {
  composes: highlight-focus from "@hokulea/foundation/intents/highlight";
  color: var(--color-intent-highlight-plain-base-text);
  background-color: transparent;
  border-color: transparent;

  &:hover {
    color: var(--color-intent-highlight-plain-hover-text);
  }

  &:active {
    color: var(--color-intent-highlight-plain-active-text);
  }

  &:disabled {
    color: var(--color-intent-highlight-plain-disabled-text);
  }
}
