<div local-class="box">
  <div local-class="demo" {{style --value=(concat "var(" @name ")")}}></div>
  <div local-class="content">
    <TokenName @name={{@name}} />
    <p local-class="description">{{this.description}}</p>
  </div>
  {{!-- <span local-class="value">{{this.value}}</span> --}}
</div>