.box {
  composes: box from './props';
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--s-1);
  overflow: hidden;
}

.demo {
  composes: demo from './props';
  background-color: var(--value);
}

.content {
  composes: flow from "@hokulea/core/layouts.css";

  --flow-space: var(--s-5);
}

.value {
  composes: value from "./props";
  margin-inline-start: auto;
}

.description {
  composes: description from "./props";
}
