.box {
  composes: box from './props';

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.demo {
  align-self: stretch;
  width: var(--value);
  background-color: var(--typography-main);
}

.content {
  display: grid;
  grid-template-columns: 30ch auto;
  gap: var(--s-4);
}

.value {
  composes: value from "./props";
}

.description {
  composes: description from "./props";
  grid-column: 1 / span 2;
}
