.box {
  composes: box from './props';
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.demo {
  align-self: stretch;
  background-color: var(--typography-main);
  width: var(--value);
}

.content {
  composes: flow from "@hokulea/core/layouts.css";

  --flow-space: var(--s-4);
}

.value {
  composes: value from "./props";
}

.description {
  composes: description from "./props";
  grid-column: 1 / span 2;
}
