.box {
  display: flex;

  padding: var(--spacing-container-2);
  border: var(--shape-stroke);
  border-radius: var(--shape-radius-container);

  background-color: var(--surface-container);
}

.demo {
  align-self: start;

  aspect-ratio: 1;
  width: var(--s4);
  border: var(--shape-stroke-information);
  border-radius: var(--shape-radius-primitive);

  background-color: var(--surface-container);
}


.value {
  font-family: monospace;
  font-size: var(--s-1);
}

.description {
  font-size: var(--s-1);
}
