.box {
  composes: box from "./props";
  flex-direction: row;
  gap: var(--s-1);
  align-items: center;
}

.demo {
  composes: demo from './props';
  border-radius: var(--value);
}

.meter {
  width: var(--value);
  visibility: hidden;
}

.content {
  --flow-space: var(--s-3);
}

.value {
  composes: value from "./props";
  margin-inline-start: auto;
}

.description {
  composes: description from "./props";
}
