.box {
  composes: box from './props';

  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: var(--s-1);
  align-items: center;

  padding: var(--s-2);
}

.demo {
  display: flex;
  align-items: center;
  width: var(--s4);
  height: 1em;

  &::before {
    content: '';
    width: 100%;
    border-bottom: var(--value);
  }
}

.content {
  --flow-space: var(--s-4);

  composes: flow from "@hokulea/core/layouts.css";
}

.value {
  composes: value from "./props";
  margin-inline-start: auto;
}

.description {
  composes: description from "./props";
  grid-column: 1 / span 2;
}
