.box {
  border-color: var(--structure-border-color);
  border-width: var(--structure-border-width);
  border-style: var(--structure-border-style);
  padding: var(--s-2);
  background-color: var(--layout-low-contrast-color);

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.demo {
  background-color: var(--text-normal-color);
  width: var(--value);
  align-self: stretch;
}

.content {
  display: grid;
  grid-template-columns: 10ch auto;
  gap: var(--s-4);
}

.value {
  composes: value from "../props";
  font-size: var(--s-1);
}

.description {
  composes: description from "../props";
  grid-column: 1 / span 2;
}
