<CenterLayout>
  <StackLayout>
    <ClusterLayout>
      <Button>Button</Button>
      <Button disabled=true>Button</Button>

      <Button as |b|>
        <b.Prefix>Prefix</b.Prefix>
        <b.Prefix>Prefix</b.Prefix>
        <b.Affix>affix</b.Affix>
        <b.Affix>affix</b.Affix>
        <b.Content>Button</b.Content>
        <b.Affix>affix</b.Affix>
        <b.Affix>affix</b.Affix>
        <b.Suffix>Suffix</b.Suffix>
        <b.Suffix>Suffix</b.Suffix>
      </Button>
    </ClusterLayout>

    <ClusterLayout>
      <GhostButton>Button</GhostButton>
      <GhostButton disabled=true>Button</GhostButton>

      <GhostButton as |b|>
        <b.Prefix>Prefix</b.Prefix>
        <b.Prefix>Prefix</b.Prefix>
        <b.Affix>affix</b.Affix>
        <b.Affix>affix</b.Affix>
        <b.Content>Button</b.Content>
        <b.Affix>affix</b.Affix>
        <b.Affix>affix</b.Affix>
        <b.Suffix>Suffix</b.Suffix>
        <b.Suffix>Suffix</b.Suffix>
      </GhostButton>
    </ClusterLayout>
  </StackLayout>
</CenterLayout>