:global {
  .cluster {
    --space: var(--s1);
    overflow: hidden;
  }

  .cluster > * {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: calc(var(--space) / 2 * -1);
  }

  .cluster > * > * {
    margin: calc(var(--space) / 2);
  }
}
