.danger-plain-button {
  composes: danger-focus from "@hokulea/foundation/intents/danger";
  color: var(--color-intent-danger-plain-base-text);
  background-color: transparent;
  border-color: transparent;

  &:hover {
    color: var(--color-intent-danger-plain-hover-text);
  }

  &:active {
    color: var(--color-intent-danger-plain-active-text);
  }

  &:disabled {
    color: var(--color-intent-danger-plain-disabled-text);
  }
}
