.button {
  composes: action-focus from "@hokulea/foundation/intents/action";
  color: var(--color-intent-action-fill-base-text);
  background-color: var(--color-intent-action-fill-base-background);
  border-color: var(--color-intent-action-fill-base-border);

  &:hover {
    color: var(--color-intent-action-fill-hover-text);
    background-color: var(--color-intent-action-fill-hover-background);
    border-color: var(--color-intent-action-fill-hover-border);
  }

  &:active {
    color: var(--color-intent-action-fill-active-text);
    background-color: var(--color-intent-action-fill-active-background);
    border-color: var(--color-intent-action-fill-active-border);
  }

  &:disabled {
    color: var(--color-intent-action-fill-disabled-text);
    background-color: var(--color-intent-action-fill-disabled-background);
    border-color: var(--color-intent-action-fill-disabled-border);
  }
}
