.button {
  /* Public Values API */
  composes: focus from "@hokulea/foundation/structure";
  --focus-box-shadow: var(--button-focus-box-shadow);

  color: var(--button-base-text-color);
  background-color: var(--button-base-background-color);
  border-color: var(--button-base-border-color);

  &:hover {
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-background-color);
    border-color: var(--button-hover-border-color);
  }

  &:active {
    color: var(--button-active-text-color);
    background-color: var(--button-active-background-color);
    border-color: var(--button-active-border-color);
  }

  &:disabled {
    color: var(--button-disabled-text-color);
    background-color: var(--button-disabled-background-color);
    border-color: var(--button-disabled-border-color);
  }

  @each $intent in action, alternative, highlight, danger {
    &[data-intent="$intent"] {
      @each $importance in fill, subtle, plain {
        &[data-importance="$importance"] {
          --button-focus-box-shadow: var(
            --shadow-intent-$(intent)-$(importance)-focus,
            transparent
          );

          --button-base-background-color: var(
            --intent-$(intent)-$(importance)-base-background-color,
            transparent
          );
          --button-base-border-color: var(
            --intent-$(intent)-$(importance)-base-border-color,
            transparent
          );
          --button-base-text-color: var(
            --intent-$(intent)-$(importance)-base-text-color,
            transparent
          );

          --button-hover-background-color: var(
            --intent-$(intent)-$(importance)-hover-background-color,
            transparent
          );
          --button-hover-border-color: var(
            --intent-$(intent)-$(importance)-hover-border-color,
            transparent
          );
          --button-hover-text-color: var(
            --intent-$(intent)-$(importance)-hover-text-color,
            transparent
          );

          --button-active-background-color: var(
            --intent-$(intent)-$(importance)-active-background-color,
            transparent
          );
          --button-active-border-color: var(
            --intent-$(intent)-$(importance)-active-border-color,
            transparent
          );
          --button-active-text-color: var(
            --intent-$(intent)-$(importance)-active-text-color,
            transparent
          );

          --button-disabled-background-color: var(
            --intent-$(intent)-$(importance)-disabled-background-color,
            transparent
          );
          --button-disabled-border-color: var(
            --intent-$(intent)-$(importance)-disabled-border,
            transparent
          );
          --button-disabled-text-color: var(
            --intent-$(intent)-$(importance)-disabled-text-color,
            transparent
          );
        }
      }
    }
  }
}
