.switcher > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--switcher-space, var(--s1)) / 2 * -1);
}

.switcher > * > * {
  flex-grow: 1;
  flex-basis: calc((var(--switcher-threshold, var(--measure)) - (100% - var(--switcher-space, var(--s1)))) * 999);
  margin: calc(var(--switcher-space, var(--s1)) / 2);
}

.switcher.limit-2 > * > :nth-last-child(n+3),
.switcher.limit-2 > * > :nth-last-child(n+3) ~ * {
  flex-basis: 100%;
}

.switcher.limit-3 > * > :nth-last-child(n+4),
.switcher.limit-3 > * > :nth-last-child(n+4) ~ * {
  flex-basis: 100%;
}

.switcher.limit-4 > * > :nth-last-child(n+5),
.switcher.limit-4 > * > :nth-last-child(n+5) ~ * {
  flex-basis: 100%;
}
