.demo {
  display: grid;
  grid-template-columns: auto auto;
}

.control {

  [aria-selected] {
      background-color: #F0F0F0;
    }

  &:focus {

    [aria-current] {
      outline: 1px dashed grey;
    }

    [aria-selected] {
      background-color: #DDD;
    }
  }
}
