.name {
  composes: flow from "@hokulea/core/layouts.css";
  font-size: var(--s0);
  font-weight: 500;

  --flow-space: 0;

  span {
    align-items: center;
    display: flex;
    gap: var(--ls-5);
  }
}
